.global__nav {
  width: 100%;
  box-shadow: 0.5px 1px; }

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray; }
  .nav__list li {
    float: left; }
    @media (max-width: 894px) {
      .nav__list li {
        float: none; } }
  .nav__list li a {
    display: block;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .nav__list .title {
    font-weight: bold;
    overflow: hidden;
    padding-left: 3rem;
    padding-right: 3rem;
    text-decoration: none; }
  .nav__list .linkone a:hover {
    background-color: #ff87fb; }
  .nav__list .linktwo a:hover {
    background-color: #e1b78b; }
  .nav__list .linkthree a:hover {
    background-color: #65eaaa; }
  .nav__list .linkfour a:hover {
    background-color: #77acf4; }
  .nav__list .linkfive a:hover {
    background-color: #a276ec; }
  .nav__list .image {
    padding: 0.3rem;
    padding-right: 1rem; }
  .nav__list .active {
    text-decoration: underline; }

@font-face {
  font-family: 'OperatorMono';
  src: url("fonts/OperatorMono-Light.woff"); }
@font-face {
  font-family: 'InMyHeart';
  src: url("fonts/Always In My Heart.woff"); }
nav {
  font-family: "OperatorMono"; }

body {
  margin: 0;
  background: #f2f2f2;
  font-family: "OperatorMono"; }

h1 {
  margin: 0;
  padding-top: 1rem;
  font-family: 'InMyHeart';
  font-size: 10rem;
  font-weight: normal;
  padding-left: 1rem; }

.home__header {
  margin-left: 16%;
  margin-top: 5%;
  padding-bottom: 0;
  position: relative;
  /* Smoothes margin-left as browser width shrinks */ }

@media (max-width: 110em) {
  .home__header {
    margin-left: 12%; } }
@media (max-width: 100em) {
  .home__header {
    margin-left: 8%; } }
@media (max-width: 90em) {
  .home__header {
    margin-left: 6%; } }
@media (max-width: 75em) {
  .home__header {
    margin-top: 6%;
    padding-bottom: 4rem; } }
@media (max-width: 44em) {
  .home__header {
    margin-left: 0.75rem;
    margin-right: 0.75rem; } }
.home__header .home-wrapper {
  max-width: 60rem; }

@media (max-width: 90em) {
  .home__header .home-wrapper {
    max-width: 54rem; } }
.home__header .col {
  display: table-cell;
  vertical-align: top; }

.home__header .col:first-child {
  padding-right: 1.5rem;
  width: 100%; }

/* fix for some browsers */
@media (max-width: 60em) {
  .home__header .col {
    display: block; }

  .home__header .col:first-child {
    width: 100%; } }
.home__header .desc {
  display: table;
  vertical-align: bottom;
  text-indent: 14rem; }

@media (max-width: 60em) {
  .home__header .desc {
    display: block;
    text-indent: 0.2rem;
    font-size: 2rem; } }
@media (max-width: 44em) {
  .home__header .desc {
    font-size: 1rem; } }
.home__header .hello {
  font-size: 10rem;
  text-indent: 0.35rem;
  display: inline-block; }

@media (max-width: 60em) {
  .home__header .hello {
    display: block;
    text-indent: 0.2rem;
    font-size: 9rem; } }
@media (max-width: 44em) {
  .home__header .hello {
    font-size: 8.5rem; } }
.home__header .name {
  padding-left: 150px;
  display: inline-block;
  font-weight: 500;
  font-size: 3.5rem;
  text-align: right;
  line-height: 0.7;
  margin-bottom: 0; }

@media (max-width: 90em) {
  .home__header .name {
    font-size: 3rem; } }
@media (max-width: 60em) {
  .home__header .name {
    padding-left: 0;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    text-align: center; } }
@media (max-width: 44em) {
  .home__header .name {
    font-size: 2rem; } }
.home__header .tagline {
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  line-height: 1.5; }

@media (max-width: 90em) {
  .home__header .tagline {
    font-size: 1.25rem; } }
@media (max-width: 60em) {
  .home__header .tagline {
    max-width: 90%;
    line-height: 1.3;
    margin-bottom: 0; } }
@media (max-width: 44em) {
  .home__header .tagline {
    font-size: 1.1rem; } }
@media (max-width: 44em) {
  .home__header .tagline {
    max-width: 100%; } }
hr {
  height: 0px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 2rem;
  border-width: 1px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.0980392);
  border-bottom: 1px solid rgba(255, 255, 255, 0.298039); }

@media (max-width: 60em) {
  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 20%; } }
.home__header .selfie {
  width: 25%;
  height: 125%;
  background-image: url("assets/images/niki.png");
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1; }

@media (max-width: 90em) {
  .home__header .selfie {
    width: 23%;
    height: 125%; } }
@media (max-width: 80em) {
  .home__header .selfie {
    width: 20%;
    height: 125%; } }
@media (max-width: 75em) {
  .home__header .selfie {
    display: none; } }
