.global__nav {
  width: 100%;
  box-shadow: 0.5px 1px; }

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray; }
  .nav__list li {
    float: left; }
    @media (max-width: 894px) {
      .nav__list li {
        float: none; } }
  .nav__list li a {
    display: block;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .nav__list .title {
    font-weight: bold;
    overflow: hidden;
    padding-left: 3rem;
    padding-right: 3rem;
    text-decoration: none; }
  .nav__list .linkone a:hover {
    background-color: #ff87fb; }
  .nav__list .linktwo a:hover {
    background-color: #e1b78b; }
  .nav__list .linkthree a:hover {
    background-color: #65eaaa; }
  .nav__list .linkfour a:hover {
    background-color: #77acf4; }
  .nav__list .linkfive a:hover {
    background-color: #a276ec; }
  .nav__list .image {
    padding: 0.3rem;
    padding-right: 1rem; }
  .nav__list .active {
    text-decoration: underline; }

@font-face {
  font-family: 'OperatorMono';
  src: url("fonts/OperatorMono-Light.woff"); }
@font-face {
  font-family: 'InMyHeart';
  src: url("fonts/Always In My Heart.woff"); }
nav {
  font-family: "OperatorMono"; }

body {
  margin: 0;
  background: #f2f2f2;
  font-family: "OperatorMono"; }

h1 {
  margin: 0;
  padding-top: 1rem;
  font-family: 'InMyHeart';
  font-size: 10rem;
  font-weight: normal;
  padding-left: 1rem; }

p {
  padding-left: 1rem; }
